{% extends "base.html" %} {% block title %} Add room {% endblock %} {% block
content %} {% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="form-device">
    <form class="space-y-4" method="POST">
      {{ form.hidden_tag() }}
      <h5 class="text-xl font-medium text-gray-900 dark:text-white">
        New room
      </h5>
      <div class="mb-6">
        {{ form.name.label(class_="form-label") }} {{
        form.name(class_="form-input") }}
        </div>
        <h5>
            Add devices
        </h5>
        {% for device in devices %}
        <li>
            {{ device.device_name }}
            <input type="checkbox" name="devices" value="{{ device.id }}">
        </li>
        {% endfor %}
        <button type="submit mt-2" class="form-btn" id="add-btn">Add room</button>  
    </div>
    </form>
  </div>
</div>
{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
